body{
	font-size: 16px;
	color: black;
	background-color: White;
	
	font-family: 'Oxygen', sans-serif;
	
}

#nav-list{
	margin-top: 10px;
}
#nav-list a{
	color: #951C49;
	text-align: center;
}

#nav-list a:hover {
	background: #E7E7E7;
}
#nav-list a span {
	font-size: 1.8em;
}
#menu-categories-title{
	padding: 0 0 15px 0;
}

/****HEADER****/
h1{
	padding:0 10px ;
}
#header-nav {
	background-color: grey;

	border-radius: 0;
	border: 0; 
}
.content-title {
  text-align: center;
 font-size: 1.2em;
 font-weight: bold;
 margin-bottom: 0;
 background-color: grey;
}

/*** header end***/

p{
	padding-left: 15px;
	padding-right: 15px;
	background-color: grey;
	height: 800px;
}
@media (min-width: 1200px)
{
 p{
 	height: 800px;
 }
}

@media (min-width: 992px) and (max-width: 1199px){

p{
	height: 730px;
}
}
/* SMALL SCREEEN */
@media (min-width: 768px) and (max-width: 991px){
 P{
 	height: 730px;
 }
}
/*EXTRA SMALL SCREEN */
@media (max-width: 767px){
 .navbar-brand{
 	padding-top: 10px;
 	height: 50px;
 }
p{
	height: 700px;
}

 
 
 /**** end header********/
 
}  
 /*SUPER EXTRA SMALL SCREEN */
